body {
  padding: 0px;
}

.product_card {
  width: 200px;
  height: 200px;
  overflow: hidden;
  word-wrap: break-word;
  border: 2px solid black;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.product_image {
  width: 100%;
  height: 100%;
}

.col-container {
  display: table;
}

.col {
  display: table-cell;
  margin: 10px;
}

.col[data-product-list-filters="filters"] {
  width: 15%;
  vertical-align: top;
}

.capitalize {
  text-transform: capitalize;
}